{% extends "base.html" %}
{% block title %}Cliente{% endblock %}
{% block content %}
<!-- Callout-->
<section class="callout">
    <div class="container px-4 px-lg-5 text-center">
        <h2 class="mx-auto mb-5">
            Registrate
        </h2>
        <form action="" method="POST">
            {% csrf_token %}
            <table>
                {{form.as_table}}
            </table>
        </br>
        <input type="submit" class="btn btn-primary" value="Insertar"/>
        </form>
    </div>
</section>
{% endblock %}